/* $Id: v3_tinylife.css 3739 2016-06-16 09:16:57Z alexan $ */
/**
 * Стили для основных элементов сайта
 */
html {
    overflow-y: scroll;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: #3f3f3f;
    margin: 0px;
    padding: 0px;
    background: url(img/v3_bg.png);
}

div.body {
    min-width: 1000px;
    max-width: 1366px;
    border-right: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    margin: 0 auto;
    position: relative;
}

.tBig {
    font-size: 19px;
}

.tMain {
    font-size: 17px;
    line-height: 25px;
}

.tMiddle {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
}

.tMini {
    font-size: 13px;
    line-height: 17px;
}

.tSuperMini {
    font-size: 11px;
}

.tGray {
    color: gray;
}

h2.title {
    color: #008000;
    font-size: 36px;
    font-weight: normal;
    padding: 25px 0px 26px 0px;
    letter-spacing: 2px;
    margin: 0px;
    text-shadow: 1px 1px 2px #888;
}

table.topBg {
    height: 59px;
    width: 100%;
    background: url(img/v3_topBg.png) repeat-x;
    border: 1px solid #e7e7e7;
    border-bottom-width: 0px;
}

table.topBg td {
    vertical-align: middle;
    padding-bottom: 4px;
}

div.tbgaItem {
    background: #fafced;
    color: #008000;
}

div.tbgItem {
    height: 34px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}

div.tbgItem a {
    text-decoration: none;
}

.rc, input[type="text"], input[type="password"], input[type="submit"], input[type="button"], input[type="search"], select {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type="submit"], input[type="button"] {
    background: #e0e0e0 url(img/v3_grad.png) repeat-x;
    background-size: contain;
    height: 29px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
    color: #3f3f3f;
    padding: 0px 15px 3px 15px;
}

input[type="submit"]:active, input[type="button"]:active {
    background: #e0e0e0;
}

input[type="submit"]:disabled, input[type="button"]:disabled {
    background: #f5f5f5;
    color: gray;
}

input[type="submit"].green, input[type="button"].green {
    height: 36px;
    background: #008000 url(img/v3_butBg.png) repeat-x;
    font-size: 19px;
    font-family: Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    padding-bottom: 4px;
}

input[type="submit"].green:active, input[type="button"].green:active {
    background: #008000 url(img/v3_butBgC.png) repeat-x;
}

input[type="submit"].green:disabled, input[type="button"].green:disabled {
    background: #70b870;
}

input.reg {
    letter-spacing: 2px;
    padding-bottom: 4px;
    font-size: 19px;
    height: 36px;
}

input.eq {
    font-weight: bold;
    width: 35px;
    color: gray;
    font-size: 17px;
    padding: 0px 0px 3px 2px;
}

input[type="text"], input[type="search"], input[type="password"], select {
    height: 27px;
    margin: 0px;
    padding: 0px 3px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

select {
    padding: 0px;
}

.box_shadow {
    -webkit-box-shadow: 1px 1px 3px 0px #ddd;
    -moz-box-shadow: 1px 1px 3px 0px #ddd;
    box-shadow: 1px 1px 3px 0px #ddd;
}

a, a:link, a:visited, a:active {
    color: #3f3f3f;
}

a:hover {
    text-decoration: none;
}

a.tags:link, a.tags:visited {
    color: gray;
}

.tagSel, a.tags:hover {
    text-decoration: none;
    color: #fff;
    background: #996;
}

.lkMenu {
    width: 271px;
    background: #f5f5f5;
    margin: 30px 0px 0px 0px;
    padding: 35px 0px 24px 0px;
}

.lkMenuTop {
    background: #f5f5f5 url(img/v3_topBg.png) left -53px repeat-x;
    margin-top: -5px !important;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.lkMenu div {
    cursor: pointer;
    padding: 14px 0px 14px 24px;
}

.lkMenu div.active {
    background: #b2b2b2;
    border-top: 1px solid #e4e4e4;
    color: white;
    cursor: auto;
}

div.minMenu {
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    left: 0px;
    top: 83px;
    width: 20px;
    height: 60px;
    line-height: 16px;
    text-align: center;
    color: gray;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #f5f5f5;
}

div.topMinMenu {
    cursor: pointer;
    color: gray;
    position: absolute;
    top: 0px;
    left: -1px;
    padding: 1px 5px;
    width: 45px;
    height: 19px;
    background: #f5f5f5;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

div.topMinExit {
    position: absolute;
    top: 3px;
    right: 38px;
    height: 15px;
}

.down {
    background: url(img/v3_arr_d.png) 9px 20px no-repeat;
}

.right {
    background: url(img/v3_arr_r.png) 12px 18px no-repeat;
}

.logForm {
    width: 271px;
    height: 203px;
    background: #f5f5f5;
    margin: 0px;
    padding: 0px;
}

.logForm div {
    width: 234px;
    height: 30px;
    padding: 13px 0px 0px 19px;
    position: relative;
    text-align: left;
    color: #666;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label span.ch, input[type="radio"] + label span.ch {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: -3px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"] + label span.ch {
    background: url(img/v3_chbox.png) left top no-repeat;
}

input[type="checkbox"]:checked + label span.ch {
    background: url(img/v3_chbox.png) -22px top no-repeat;
}

input[type="checkbox"]:disabled + label span.ch {
    background: url(img/v3_chbox.png) -44px top no-repeat;
}

input[type="radio"] + label span.ch {
    background: url(img/v3_chbox.png) -65px top no-repeat;
}

input[type="radio"]:checked + label span.ch {
    background: url(img/v3_chbox.png) -86px top no-repeat;
}

input[type="radio"]:disabled + label span.ch {
    background: url(img/v3_chbox.png) -107px top no-repeat;
}

span.help_sp {
    cursor: pointer;
}

.error {
    border: 1px solid #f63;
    padding: 15px 15px 15px 43px;
    margin-top: 15px;
    color: #f63;
    font-size: 15px;
    background: #FFDECC url(img/error.gif) no-repeat top left;
}

.success {
    border: 1px solid #8ed394;
    padding: 15px 15px 15px 43px;
    margin-top: 15px;
    color: green;
    background: #eefaef url(img/error.gif) no-repeat top left;
}

div.closable {
    padding: 10px 13px;
    width: 245px;
    position: relative;
    margin-top: 30px;
}

div.cls {
    position: absolute;
    right: 9px;
    top: 3px;
}

table.mSplash tr td.lt {
    background: url(img/v3_splLt.png) no-repeat top left;
}

table.mSplash tr td.rt {
    background: url(img/v3_splRt.png) no-repeat top left;
}

table.mSplash tr td.lb {
    background: url(img/v3_splLb.png) no-repeat top left;
}

table.mSplash tr td.rb {
    background: url(img/v3_splRb.png) no-repeat top left;
}

table.mSplash tr td {
    height: 145px;
    width: 50%;
    padding: 25px 15px 0px 160px;
    vertical-align: top;
}

table.mSplash {
    width: 100%;
}

li {
    margin-top: 6px;
}

div.li {
    background: url(img/v3_li.png) left 10px no-repeat;
    padding: 5px 0px 0px 30px;
}

.dash {
    border-bottom: 1px dashed gray;
    cursor: pointer;
}

div.copy {
    background: url(img/v3_footBg.png) repeat-x;
    height: 51px;
    vertical-align: middle;
    color: white;
    width: 100%;
    text-align: center;
    margin: 40px 0px 0px 0px;
}

div.copy a, div.copy a:link, div.copy a:visited, div.copy a:active {
    color: white;
}

div.news div.n_body {
    margin-left: 20px;
    margin-top: 15px;
}

div.news {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.priceTbl {
    margin-bottom: 20px;
    background: white;
    border-collapse: collapse;
}

.priceTbl tr th {
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    font-weight: 100;
    background: #ddd;
}

.priceTbl tr td.td3 {
    width: 25%;
    text-align: center;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    color: #666;
}

.priceTbl tr td.td2 {
    width: 25%;
    text-align: center;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    color: #666;
}

.priceTbl tr td.td1 {
    width: 50%;
    vertical-align: top;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 6px 20px;
    color: #666;
}

table.forumTbl {
    border-collapse: collapse;
    background: white;
}

.forumTbl tr th {
    padding: 10px;
    border: 1px solid #fff;
    font-weight: 100;
    background: #ddd;
}

.forum_quote {
    background-color: #f5f5f5;
    padding: 5px 0px 5px 10px;
    color: green;
    font-family: Tahoma;
}

div.lastMsg div {
    padding-top: 2px;
}

div.lastMsg {
    background: url(img/card.gif) left 1px no-repeat;
    padding: 0px 0px 0px 23px;
}

div.nick a {
    color: gray;
}

div.nick {
    background-position: 2px 5px;
    background-repeat: no-repeat;
    padding: 3px 0px 0px 23px;
    overflow: hidden;
    width: 110px;
    margin-right: 10px;
}

.green, a.green {
    color: green;
}

.red, a.red {
    color: #CC3300;
}

.let_area {
    margin-top: 5px;
    width: 224px;
    height: 60px;
}

input.srch {
    width: 170px;
    color: gray;
    padding-left: 37px;
    background: white url(img/v3_search.png) left top no-repeat;
}

.srchForm {
    width: 271px;
}

div.mainForm {
    width: 410px;
    background: #fafced;
    padding: 13px 24px 20px 24px;
    position: relative;
    text-align: left;
    margin-bottom: 25px;
}

div.tabAll {
    position: relative;
    height: 31px;
    text-align: left;
    width: 460px;
}

div.tabAll div {
    height: 27px;
    border-bottom-width: 0px;
    text-align: center;
    position: absolute;
    padding-top: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 4px 1px 3px -3px #ddd;
    -moz-box-shadow: 4px 1px 3px -3px #ddd;
    box-shadow: 5px 1px 3px -4px #ddd;
}

div.tabPassive {
    background: url(img/v3_grad.png) repeat-x;
    background-size: 1px 30px;
    color: gray;
    padding-top: 4px !important;
    height: 25px !important;
    cursor: pointer;
    top: 1px;
    z-index: 1;
}

div.tabActive {
    background: #fafced;
    z-index: 2;
    top: 0px;
}

div.fDate {
    margin-top: 7px;
}

div.calend {
    position: absolute;
    right: 7px;
    top: 5px;
}

input[type="button"].today {
    height: 16px;
    width: 75px;
    padding: 0px 0px 1px 0px;
    background-color: #e0e0e0;
    background-repeat: repeat-x;
    background-image: url(img/v3_grad.png);
    background-size: contain;
    font-size: 11px;
    color: #3f3f3f;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    letter-spacing: 0px;
    line-height: 0px;
    position: absolute;
    right: 26px;
    top: 47px;
}

input[type="button"].today:active {
    background: #e0e0e0;
}

input[type="button"].today:disabled {
    background: #f5f5f5;
    color: gray;
}

div.calend img {
    position: absolute;
    right: 42px;
}

input[type="button"].prev, input[type="button"].next {
    background: transparent no-repeat;
    height: 21px;
    width: 21px;
    border-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    padding: 0px;
}

div.calend input[type="button"].prev {
    background-image: url(img/v3_prev.png);
    right: 92px;
}

div.calend input[type="button"].next {
    background-image: url(img/v3_next.png);
    right: 14px;
}

div.calend input[type="button"].prev:active {
    background-image: url(img/v3_prev_p.png) !important;
}

div.calend input[type="button"].next:active {
    background-image: url(img/v3_next_p.png) !important;
}

div.calend div.day {
    position: absolute;
    right: 51px;
    top: 2px;
    color: green;
    font-size: 17.5px;
    text-align: center;
    width: 26px;
    cursor: pointer;
}

div.calend div.month {
    position: absolute;
    right: 53px;
    top: 22px;
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.popup {
    padding: 15px 20px;
    z-index: 111;
    background: #fafced;
    position: absolute;
    text-align: left;
}

div.calPop {
    width: 265px;
    height: 400px;
}

input.sum_input {
    width: 292px;
    padding-right: 35px !important;
    letter-spacing: 1px;
}

div.relative {
    position: relative;
    width: 100%;
}

.limited {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.limited:after {
    width: 20px;
    height: 20px;
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
}

.yel:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZjZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafced); /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafced); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafced); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafced); /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafced); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fafced', GradientType=1); /* IE6-9 */
}

.wht:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff); /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff); /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
}

div.help {
    background: #5ca07c;
    color: white;
    position: absolute;
    width: 550px;
    padding: 10px 20px;
    z-index: 301;
}

div.help a {
    color: white;
}

#scrShadow {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
}

.tgtpl {
    color: #555;
    margin: 0px 10px 2px 0px;
    white-space: nowrap;
    float: left;
    cursor: pointer;
}

.h_categ {
    font-weight: 50%;
    color: gray;
    cursor: pointer;
    margin: 5px;
}

div.blk {
    text-align: left;
    max-width: 460px;
    min-width: 300px;
    position: relative;
    background: white;
    margin-bottom: 25px;
}

div.blk div.bTitle {
    background: #f5f5f5;
    font-size: 19px;
    padding: 7px 10px !important;
    height: 26px !important;
    position: relative;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

div.blk div.bBody {
    padding: 7px 10px 10px 10px;
    position: relative;
}

.sum {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 18px;
}

.sum div.c {
    overflow: hidden;
    width: 35px;
    text-align: left;
    background: white;
    position: absolute;
    right: 0px;
    top: 6px;
}

.sum div.s {
    right: 41px;
    position: absolute;
    background: white;
    padding-left: 10px;
    white-space: nowrap;
    top: 4px;
}

.dopMenu {
    width: 135px;
    border-right-width: 0px;
    margin: -8px 0px 0px -177px;
}

table.restTbl {
    table-layout: fixed;
    width: 100%;
}

table.restTbl td.place {
    vertical-align: top;
    width: 80%;
}

table.restTbl td.amount {
    vertical-align: top;
    width: 20%;
    padding: 1px 0px 5px 0px;
}

div.plname {
    height: 21px;
    padding: 4px 0px 0px 28px;
    margin: 1px 1px 1px 0px;
    z-index: 1;
}

/* Список трат */
div.pRec {
    position: relative;
    border-bottom: 1px solid #F7F7F7;
    padding: 6px 6px 0px 6px;
    width: 445px;
    min-height: 40px;
}

.pRecTool {
    position: relative;
    z-index: 99;
}

.pRecTool div.recTool {
    top: -7px;
    z-index: 110;
    position: absolute;
    background: #fafced;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pRecTool div.recTool div.icon {
    position: absolute;
    top: 2px;
    cursor: pointer;
    color: gray;
    padding-top: 1px;
    width: 43px;
    height: 41px;
    font-size: 9px;
    text-align: center;
}

.pRecTool div.recTool div.icon div {
    position: absolute;
    left: 1px;
    bottom: 1px;
    text-align: center;
    width: 43px;
}

.found {
    background: #FBEDB5;
}

.cur_rec {
    background: #08246B;
}

.cur_sel {
    width: 85px;
}

table.order_tbl tr td {
    height: 36px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

div.rParam {
    position: relative;
    width: 100%;
    padding: 8px 0px;

}

.rSelectParam, div.rParam > input[type="text"] {
    position: absolute !important;
    left: 160px;
    width: 248px;
    top: 4px;
}

div.rParam a.del {
    margin: 25px 0px 0px 138px;
}

div.rCat {
    position: relative;
    border-bottom: 1px solid #F7F7F7;
    padding-top: 6px;
    width: 100%;
}

div.rCat div.cName {
    margin: 0px 0px 9px 20px;
}

/* Раздел настроек */
div.tree {
    padding: 0px;
    margin: 0px;
    width: 230px;
}

div.treeItem {
    cursor: pointer;
    padding: 5px;
    margin: 0px;
}

.exprTop {
    position: absolute;
    top: expression(eval((window.pageYOffset || document.body.scrollTop) + 20) + 'px');
}

.tab_set {
    width: 720px;
    margin: 2px 0px;
    background: #fafced;
    text-align: left;
}

table.tplSettTable tr td {
    padding-top: 10px;
}

div.subset {
    background: white;
    padding: 10px 0px 20px 20px;
}

/**/

table.rem_list td {
    vertical-align: top;
    color: #555;
    padding-top: 5px;
}

table.lkSett td {
    height: 35px;
    vertical-align: top;
}

div.dtBlk {
    position: relative;
    left: 20px;
    margin-bottom: 20px;
    background: white;
    width: 458px;
}

/* Раздел планирования */
table.bp {
    font-size: 13px;
}

table.bp td {
    white-space: nowrap;
}

.bpcat {
    height: 35px;
    padding-top: 16px;
    position: relative;
}

.bpcat div {
    padding-top: 2px;
}

table.bpcattbl {
    margin-top: 1px;
}

table.bpcattbl tr td > div {
    height: 35px;
    padding: 16px 0px 0px 10px;
}

div.dtTitle {
    height: 32px;
    padding-top: 3px;
    position: absolute;
    background: white;
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.limEdit {
    height: 22px;
    z-index: 113;
    padding: 3px 10px 0px 10px;
    position: absolute;
    background: #fafced;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.limEdit div.limbody {
    padding: 0px;
    top: -42px;
    width: 458px;
}

div.limEdit div.line {
    position: absolute;
    z-index: 112;
    height: 100%;
    background: #fafced;
    right: 5px;
    top: 0px;
    width: 5px;
}

/**/

div.ccard_param {
    padding: 10px 0px 5px 26px;
    white-space: nowrap;
}

div.ccard_param > div {
    vertical-align: top;
    display: inline-block;
}

div.ccard_param > div > div {
    height: 35px;
}

/*****************************************************************************
 *****************            Служебные стили            *********************
 *****************************************************************************/
.clear {
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    clear: both;
}

div.cnt {
    display: none;
}

textarea.auto_height {
    overflow: hidden;
    resize: none;
    height: 34px;
}

/*
WICK: Web Input Completion Kit
http://wick.sourceforge.net/
Copyright (c) 2004, Christopher T. Holland,
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
Neither the name of the Christopher T. Holland, nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.floater {
    position: absolute;
    z-index: 200;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    padding: 0;
    width: 200px;
}

.floater td {
    font-family: Gill, Helvetica, sans-serif;
    background-color: white;
    border: 1px inset #979797;
    color: black;
}

.matchedSmartInputItem {
    font-size: 13px;
    padding: 5px 10px 1px 5px;
    margin: 0;
    cursor: pointer;
    min-width: 180px;
}

.selectedSmartInputItem {
    color: white;
    background-color: #3875D7;
}

#smartInputResults {
    padding: 0;
    margin: 0;
}

.siwCredit {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 0.7em;
    color: black;
}

/**
 * Подкрасить яндексовую форму поиска
 */
.ya-site-form__search-input {
    padding: 0px !important;
}

.ya-site-form__input-text {
    width: 231px;
    color: gray;
    padding-left: 37px !important;
    background: white url(img/v3_search.png) left top no-repeat;
}

.ya-site-form__search-input-layout-r {
    display: none;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.2.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2014 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}

.chosen-container a {
    cursor: pointer;
}

/* @end */
/* @group Single Chosen */
select.chosen {
    padding-left: 4px !important;
    padding-bottom: 2px !important;
}

select.chosen, .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 22px;
}

.chosen-container-single .chosen-default {
    color: #999;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('img/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('img/chosen-sprite.png') no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url('img/chosen-sprite.png') no-repeat 100% -20px;
    background: url('img/chosen-sprite.png') no-repeat 100% -20px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 360px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    white-space: nowrap;
    -webkit-touch-callout: none;
    overflow-x: hidden;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #555;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}

.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.chosen-disabled .chosen-single {
    cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('img/chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/* @end */
