.element {
    z-index: 10;
    display: none;
}

.dopMenu {
    width: 130px;
    border-right-width: 0px;
    margin: -8px 0px 0px -134px;
}

.popup {
    padding: 5px 5px;
    z-index: 111;
    background: #e6EEEE;
    position: absolute;
    text-align: left;
}

.box_shadow {
    -webkit-box-shadow: 1px 1px 3px 0px #ddd;
    -moz-box-shadow: 1px 1px 3px 0px #ddd;
    box-shadow: 1px 1px 3px 0px #ddd;
}

.rc, input[type="text"], input[type="password"], input[type="submit"], input[type="button"], input[type="search"], select {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.blk {
    text-align: left;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: #3f3f3f;
}

.row.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}

